
#headerImage {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 200px;
}

button {
	background-color: yellow;
	margin-left: 10px;
}

#addTopic {
	height: 34px;
	width: 66px;
	background-color: yellow;
	margin-left: 10px;
}

.topicImage {
	height: 100%;
	width: 100%;
}